# Code owners for OnionMind
# See ADR-007: monorepo structure

* @carlosportella
core/** @carlosportella
crawler/** @carlosportella
db/** @carlosportella
.github/** @carlosportella
docs/** @carlosportella

# * @fepersilva
# core/** @fepersilva
# crawler/** @fepersilva
# db/** @fepersilva
